In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

 We load the data, we see there are no column names to protect the identity
 Let us clean the data and try to make sense of it

In [33]:
data = pd.read_csv("A:\Ipython\Credit card approval analysis\crx.csv")
data.shape

(690, 16)

In [34]:
data.head(3)

  A1     A2    A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13  A14  A15 A16
0  b  30.83  0.00  u  g  w  v  1.25  t   t    1   f   g  202    0   +
1  a  58.67  4.46  u  g  q  h  3.04  t   t    6   f   g   43  560   +
2  a   24.5  0.50  u  g  q  h  1.50  t   f    0   f   g  280  824   +

Let's explore the data

In [35]:
data = data.replace("?", pd.np.nan)

In [50]:
percentage_missing = data.isnull().sum()
percentage_missing[percentage_missing > 0]

A1     12
A2     12
A4      6
A5      6
A6      9
A7      9
A14    13
dtype: int64

we see precent of missing values for each attributes

In [32]:
data.isnull().sum().sum()/data.shape[0] * 100

9.710144927536232

In [51]:
data.describe()

               A3          A8        A11            A15
count  690.000000  690.000000  690.00000     690.000000
mean     4.758725    2.223406    2.40000    1017.385507
std      4.978163    3.346513    4.86294    5210.102598
min      0.000000    0.000000    0.00000       0.000000
25%      1.000000    0.165000    0.00000       0.000000
50%      2.750000    1.000000    0.00000       5.000000
75%      7.207500    2.625000    3.00000     395.500000
max     28.000000   28.500000   67.00000  100000.000000